/* 정주현 */

.userList::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.userList ul {
  animation: slide 90s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-2600px);
  }
  100% {
    transform: translateX(0);
  }
}
