/* 정주현 */

header {
  width: 100%;
  height: 70px;
  background-color: rgba(26, 26, 26, 0.7);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  height: 50px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.navLeft {
  position: absolute;
  top: 50%;
  left: 120px;
  transform: translateY(-50%);
}

.navLeft li {
  color: white;
  display: inline-block;
  margin: 0 15px;
  font-size: 17px;
}

/* GuestNav.jsx */
.navRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.navRight li {
  position: relative;
  top: -12px;
  color: white;
  display: inline-block;
  margin: 0 15px;
  font-size: 17px;
}

.darkModeImg {
  box-sizing: content-box;
  height: 24px;
  width: auto;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
  position: relative;
  top: 15px;
  filter: invert(80%);
}

/* UserNav */
.userProfileImg {
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  border-radius: 15px;
}

.uNavRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.uDarkModeImg {
  box-sizing: content-box;
  height: 25px;
  width: auto;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
  position: relative;
  top: 50%;
  right: 60px;
  filter: invert(80%);
}

.profileDownMenu {
  position: fixed;
  background-color: rgba(94, 94, 94, 0.7);
  top: 75px;
  right: 10px;
  color: white;
  border-radius: 10px;
}
.profileDownMenu :last-child {
  border: none;
}

.profileDownMenu li {
  border-bottom: #575757 1px solid;
  padding: 10px 20px;
}

/* SearchInput.jsx */
.searchInput {
  position: absolute;
  top: 50%;
  right: 150px;
  transform: translateY(-50%);
  width: 200px;
  height: 35px;
  border-radius: 10px;
  outline: none;
  text-align: center;
  background-color: rgba(40, 40, 40, 0.5);
  color: white;
}

.searchResultList {
  border-radius: 10px;
  width: 300px;
  height: 300px;
  overflow-y: scroll;
  position: fixed;
  top: 60px;
  right: 100px;
  color: white;
}

.searchResultList::-webkit-scrollbar {
  display: none;
}

.searchResultList div {
  width: 210px;
  height: 48px;
}

.searchResultList img {
  width: 50px;
}

.searchResultList li {
  background-color: #282828;
  border-bottom: #3d3d3d 1px solid;
  padding: 15px 20px;
}

.searchResultList li:last-child {
  border-bottom: none;
}

.gSearchInput {
  position: absolute;
  top: 50%;
  right: 260px;
  transform: translateY(-50%);
  width: 200px;
  height: 35px;
  border-radius: 10px;
  outline: none;
  text-align: center;
  background-color: rgba(40, 40, 40, 0.5);
  color: white;
}

.gSearchResultList {
  width: 300px;
  height: 300px;
  overflow-y: scroll;
  border-radius: 10px;
  position: fixed;
  top: 60px;
  right: 200px;
  color: white;
}

.gSearchResultList::-webkit-scrollbar {
  display: none;
}

.gSearchResultList div {
  width: 210px;
  height: 48px;
}

.gSearchResultList img {
  width: 50px;
}

.gSearchResultList li {
  background-color: #282828;
  border-bottom: #3d3d3d 1px solid;
  padding: 15px 20px;
}

.gSearchResultList li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: none;
}
.gSearchResultList li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
